@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
.button{
  padding:15px;
  width: 50px;
  margin:0 3px;
  border:1px solid black;
  border-radius:5px;
  cursor: pointer;
}
.row{
  margin:5px 0;
}
.row input{
  width: 200px;
  font-size:15px;
  margin: 0;
  padding: 10px 9px;
  border: 1px solid black;
  border-radius: 5px;
}